<!DOCTYPE html>
<html>
<head>
	<title>zap</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/simple.css">
</head>
<body>

	<div class="container">
		<div class="row">
			<form action="/add" method="POST"> 

			<div class="col-sm-5" >
				<button class="btn btn-success" > Add Venue</button>
			</div>
				</form>
				
			<form action="show" method="GET">
			<div class="col-sm-5">
				<button class="btn btn-success">Show Venue</button>
			</div>
		</form>
		</div>
	</div>
		
	<!-- <div class="row"></div> -->


</body>
</html>
<!-- </html>	<form method="GET" action="{% url 'Map' %}"> -->